.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    border-radius: 2px;
    position: absolute;
    transition: all 0.3s;
    z-index: 10;
    outline-offset: 1rem;

    &--p1 {
      left: 0rem;
      top: 0rem;
    }

    &--p2 {
      right: 0rem;
      top: 3rem;
    }

    &--p3 {
      top: 14rem;
      left: 8rem;
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0rem 1rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  // composition:hover composition__photo:not(:hover)
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
